<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
        <div class="container-fluid d-flex">
          <a class="navbar-brand" href="/home"><i class="fa-solid fa-hospital-user"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav flex-fill">
              <a class="nav-link active" aria-current="page" href="/home"><b>Home</b></a>
              <a class="nav-link" href="https://www.pinerest.org/newsroom/"><b>NewsRoom</b></a>
              <a class="nav-link" href="/home/articles"><b>Articles</b></a>
              <a class="nav-link " aria-disabled="false" href="/home/Appointement" ><b>Appointement</b></a>
            </div>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>