<% layout("layouts/boilerplate")%>
<body>
  <div class="body-content">
    <div class="appointmentdoctor">
      <div class="card text-center">
        <div class="card-header">
        <b  class="doctorp">DOCTOR <i class="fa-regular fa-handshake"></i> YOUR FRIEND</b>
        </div>
        <br>
        <div class="card-body">
          <h5 class="card-title">BOOK YOUR FRINDLY DOCTOR</h5>
          <p class="card-text">Experience the best one-one interaction with a doctor.</p>
         
          <a href="home/booking" class="btn btn-primary">Book Your Slot</a>
        </div>
        <div class="card-footer text-body-secondary">
          24/7 hours service
        </div>
      </div>
    </div>
     <div class="row   bg-body-3 allcards">
       <div class="card  card-1" style="width: 18rem;">
        <div class="imagediv">
         <img src="https://www.pinerest.org/newsroom/wp-content/uploads/2021/12/Importance-of-MH-Awareness-1024x538.jpg" class="card-img-top" alt="...">
        </div>
         <div class="card-body">
            <h5 class="card-title mt-4">Events</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">More EVENTS..</a>
          </div>
        </div>
        <div class="card  card-2" style="width: 18rem;">
          <div class="imagediv">
          <img src="https://www.pinerest.org/newsroom/wp-content/uploads/2024/02/Residents-2023-768x512.jpg" class="card-img-top" alt="...">
          </div> 
          <div class="card-body">
             <h5 class="card-title">News</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="btn btn-primary">More News..</a>
           </div>
         </div>
         <div class="card  card-3" style="width: 18rem;">
          <div class="imgdiv">
          <img src="https://www.pinerest.org/newsroom/wp-content/uploads/2022/11/Mental-Health-Matters-header-2-1.jpg" class="card-img-top" alt="...">
         </div> 
          <div class="card-body">
             <h5 class="card-title mt-5">Announcement</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="btn btn-primary">More..</a>
           </div>
         </div>
         <div class="card  card-4" style="width: 18rem;">
          <img src="https://img.freepik.com/free-vector/flat-mental-health-facebook-post_23-2149044577.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title mt-5">Workshop</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="btn btn-primary">More Workshops</a>
           </div>
         </div>
         <div class="card  card-5" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm2E8PxH5b5KwpeTSMq80Nf1i_7McqCe2gRA&s" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Recent facts</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="btn btn-primary">More Facts..</a>
           </div>
         </div>
         <div class="card  card-6" style="width: 18rem;">
          <img src="https://img.freepik.com/premium-photo/world-mental-health-day-illustration-concept-images_94574-3038.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Doctor Meet</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="/home/booking" class="btn btn-primary">Book ur Slot..</a>
           </div>
         </div>
     </div>

    <div class="footer">

    </div>
  </div>
 
</body>
